default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    kernel: '@kernel'
                - Behat\MinkExtension\Context\MinkContext
                - RestContext:
                    kernel: '@kernel'
                - JsonContext:
                    request: '@request_stack'
                - DogClientContext:
                    kernel: '@kernel'
                    mockHandler: '@app.http.client.guzzle_dog_mock_handler'
                    handlerStack: '@app.http.client.guzzle_dog_handler_stack'
                    responsesBasePath: '%paths.base%/tests/Fixtures/Guzzle/MockedResponse/'

    extensions:
        Behat\Symfony2Extension:
            kernel:
                class: App\Kernel
        Behat\MinkExtension:
            base_url: ""
            sessions:
                default:
                    symfony2: ~
        Behatch\Extension: ~
